# spaceex analysis options
system = plant
initially = "(loc(pump1_1) == Start & loc(pump2_1) == Start & loc(globalTimer_1) == flow & loc(port_1) == standby & pump1_1.wl1 == 7 & pump2_1.wl2 == 5 & plant.CycleDuration == 3 & plant.TotalDuration == 15 & pump1_1.CycleTimer == 0 & pump2_1.CycleTimer == 0 & plant.GlobalTimer == 0 & pump1_1.userInput == 0 & pump2_1.userInput == 0 & pump1_1.pumpOpen == 0 & pump2_1.pumpOpen == 0 & plant.in == 0 & plant.out == 0 & port_1.timer == 0)"
forbidden = "pump1_1.wl1 < 2 | pump2_1.wl2 < 2 | pump1_1.wl1 > 30 | pump2_1.wl2 > 30"
scenario = phaver
directions = box
clustering = 0
set-aggregation = "none"
sampling-time = 0.01
time-horizon = 50
iter-max = -1
verbosity = m
rel-err = 1.0e-12
abs-err = 1.0e-13
