# spaceex analysis options
system = plant
initially = "(loc(pump1_1) == Start & loc(pump2_1) == Start & loc(globalTimer_1) == flow & loc(port_1) == standby & loc(port_2) == standby & pump1_1.wl1 == 20 & pump2_1.wl2 == 20 & plant.CycleDuration == 10 & plant.TotalDuration == 20 & pump1_1.CycleTimer == 0 & pump2_1.CycleTimer == 0 & plant.GlobalTimer == 0 & pump1_1.userInput == 0 & pump1_1.userInput2 == 0 & pump2_1.userInput == 0 & pump2_1.userInput2 == 0 & pump1_1.nextInput == 0 & pump1_1.nextInput2 == 0 & pump2_1.nextInput == 0 & pump2_1.nextInput2 == 0 & plant.signal_send == 0 & plant.signal_rcv == 0 & plant.signal_send2 == 0 & plant.signal_rcv2 == 0 & port_1.timer == 0 & port_2.timer == 0)"
forbidden = "pump1_1.wl1 < 3 | pump2_1.wl2 < 8"
scenario = phaver
directions = box
clustering = 0
set-aggregation = "none"
sampling-time = 0.01
time-horizon = 50
iter-max = -1
verbosity = m
rel-err = 1.0e-12
abs-err = 1.0e-13
