# spaceex analysis options
system = plant
initially = "(loc(plc1_1) == Start & plant.LIT101 == 8 & plant.MV101 == 0 & plant.FIT101 == 1 & plant.CycleDuration == 4 & plant.TotalDuration == 40 & plant.CycleTimer == 0 & plant.GlobalTimer == 0 & plant.nextMV == 0)"
forbidden = "LIT101 < 0 | LIT101 > 8"
scenario = supp
directions = box
clustering = 0
set-aggregation = "none"
sampling-time = 0.01
time-horizon = 5
iter-max = -1
verbosity = m
rel-err = 1.0e-12
abs-err = 1.0e-13
