# spaceex analysis options
system = plant
initially = "(loc(plc1_1) == Start & loc(plc2_1) == Start & loc(plc3_1) == Start & loc(globalTimer_1) == flow & loc(port_1) == standby & loc(port_2) == standby & plc1_1.LIT101 == 80 & plc1_1.FIT201 == 1 & plc1_1.LIT301 == 1 & plc1_1.nextFIT201 == 0 & plc1_1.nextLIT301 == 0 & plant.CycleDuration == 40 & plant.TotalDuration == 40 & plc1_1.CycleTimer == 0 & plc2_1.CycleTimer == 0 & plc3_1.CycleTimer == 0 & plant.GlobalTimer == 0 & plc2_1.FIT201 == 1 & plc3_1.LIT301 == 1 & plant.signal_send1 == 0 & plant.signal_send2 == 0 & plant.signal_rcv1 == 0 & plant.signal_rcv2 == 0 & port_1.timer == 0 & port_2.timer == 0)"
forbidden = "plc1_1.LIT101 < 0 | plc1_1.LIT101 > 80"
scenario = phaver
directions = box
clustering = 0
set-aggregation = "none"
sampling-time = 0.01
time-horizon = 50
iter-max = -1
verbosity = m
rel-err = 1.0e-12
abs-err = 1.0e-13
