# spaceex analysis options
system = thermostat
initially = "(loc(room1_1) == HeaterOn & loc(room2_1) == HeaterOn & loc(globalTimer_1) == flow & loc(port_1) == standby & loc(port_2) == standby & room1_1.T1 == 15 & room1_1.T2 == 16 & room2_1.T1 == 15 & room2_1.T2 == 16 & thermostat.CycleDuration == 3 & thermostat.TotalDuration == 15 & room1_1.CycleTimer == 0 & room2_1.CycleTimer == 0 & thermostat.GlobalTimer == 0 & thermostat.MinSum == 15 & room1_1.heater1 == 0 & room2_1.heater2 == 0 & thermostat.T1send == 0 & thermostat.T2send == 0 & thermostat.out1 == 0 & thermostat.out2 == 0 & port_1.timer == 0 & port_2.timer == 0)"
forbidden = "room1_1.T1 > 30 | room2_1.T2 > 30"
scenario = phaver
directions = box
clustering = 0
set-aggregation = "none"
sampling-time = 0.01
time-horizon = 50
iter-max = -1
verbosity = m
rel-err = 1.0e-12
abs-err = 1.0e-13
