# spaceex analysis options
system = thermostat
initially = "(loc(room1_1) == HeaterOn & loc(room2_1) == HeaterOn & loc(globalTimer_1) == flow & thermostat.T1 == 15 & thermostat.T2 == 16 & thermostat.CycleDuration == 3 & thermostat.TotalDuration == 15 & room1_1.CycleTimer == 0 & room2_1.CycleTimer == 0 & globalTimer_1.GlobalTimer == 0 & thermostat.MinSum == 15 & room1_1.heater1 == 0 & room2_1.heater2 == 0)"
forbidden = "T1 < 11 | T2 < 11 | T1 > 30 | T2 > 30"
scenario = phaver
directions = box
clustering = 0
set-aggregation = "none"
sampling-time = 0.01
time-horizon = 50
iter-max = -1
verbosity = m
rel-err = 1.0e-12
abs-err = 1.0e-13
