# spaceex analysis options
system = vehicle
initially = "(loc(vehicle1_1) == Start & loc(vehicle2_1) == Start & loc(globalTimer_1) == flow & vehicle1_1.v1x == 0 & vehicle2_1.v2y == 0 & vehicle.CycleDuration == 10 & vehicle.CycleDuration2 == 10 & vehicle.TotalDuration == 80 & vehicle1_1.CycleTimer == 0 & vehicle2_1.CycleTimer == 0 & vehicle.GlobalTimer == 0 & vehicle.userInput == 0 & vehicle1_1.vv1x == 0 & vehicle2_1.vv2y == 0)"
forbidden = "vehicle1_1.v1x == 10 & vehicle2_1.v2y == 10"
scenario = phaver
directions = box
clustering = 0
set-aggregation = "none"
sampling-time = 0.01
time-horizon = 50
iter-max = -1
verbosity = m
rel-err = 1.0e-12
abs-err = 1.0e-13
